{% extends "admin/submit_line.html" %}
{% load static %}

{% block submit-row %}
	{{ block.super }}
	
	{% if original %}
		{% with COUNT_TOP_ANIME as settings.COUNT_TOP_ANIME %}
			{% if original.is_top %}
				<input type="button" class="trigger button" data-modal-id="modal-comment-reset-top" value="Видалити з ТОП-{{ COUNT_TOP_ANIME }}">
				{% url 'admin:reset_top' original.id as url %}
				{% include 'admin/includes/modal_confirmation.html' with url=url modal_id='reset-top' text_confirm='Ви дійсно хочете видалити аніме з ТОП?' %}
			{% else %}
				<input type="button" class="trigger button" data-modal-id="modal-comment-set-top" value="Додати в ТОП-{{ COUNT_TOP_ANIME }}">
				{% url 'admin:set_top' original.id as url %}
				{% include 'admin/includes/modal_confirmation.html' with url=url modal_id='set-top' text_confirm='Ви дійсно хочете додати аніме в ТОП?' %}
			{% endif %}
		{% endwith %}
	{% endif %}

{% endblock %}